apiVersion: v1
kind: Service
metadata:
  name: markenx-api
  namespace: markenx
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  selector:
    app: markenx-api
  ports:
    - port: 80
      targetPort: 8080
  type: ClusterIP
