apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: keycloaks.k8s.keycloak.org
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  group: k8s.keycloak.org
  names:
    kind: Keycloak
    listKind: KeycloakList
    plural: keycloaks
    singular: keycloak
  scope: Namespaced
  versions:
    - name: v2alpha1
      schema:
        openAPIV3Schema:
          properties:
            spec:
              properties:
                db:
                  properties:
                    passwordSecret:
                      properties:
                        key:
                          type: string
                        name:
                          type: string
                      type: object
                    url:
                      type: string
                    usernameSecret:
                      properties:
                        key:
                          type: string
                        name:
                          type: string
                      type: object
                    vendor:
                      type: string
                  type: object
                hostname:
                  properties:
                    hostname:
                      type: string
                  type: object
                http:
                  properties:
                    httpEnabled:
                      type: boolean
                  type: object
                ingress:
                  properties:
                    enabled:
                      type: boolean
                  type: object
                instances:
                  type: integer
                additionalOptions:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type: string
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
