apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakRealmImport
metadata:
  name: markenx-realm-import
  namespace: markenx
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  keycloakCRName: keycloak
  realm:
    realm: markenx
    enabled: true
    displayName: MarkenX
    registrationAllowed: false
    rememberMe: true
    loginWithEmailAllowed: true
    duplicateEmailsAllowed: false
    resetPasswordAllowed: true
    bruteForceProtected: true

    roles:
      realm:
        - name: ADMIN
          description: Administrator role
        - name: STUDENT
          description: Student role

    clients:
      - clientId: markenx-api
        name: MarkenX API Client
        enabled: true
        protocol: openid-connect
        publicClient: false
        serviceAccountsEnabled: true
        clientAuthenticatorType: client-secret
        secret: markenx-api-secret-change-me
        directAccessGrantsEnabled: true
        standardFlowEnabled: true
        implicitFlowEnabled: false
        bearerOnly: false
        redirectUris:
          - "http://markenx-api.local/*"
          - "http://localhost:*/*"
          - "*"
        webOrigins:
          - "*"
        defaultClientScopes:
          - web-origins
          - profile
          - roles
          - email
        attributes:
          access.token.lifespan: "300"

    accessTokenLifespan: 300
    ssoSessionIdleTimeout: 1800

    internationalizationEnabled: true
    supportedLocales:
      - en
      - es
    defaultLocale: es

    eventsEnabled: true
    eventsListeners:
      - jboss-logging

    adminEventsEnabled: true
    adminEventsDetailsEnabled: true

