apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: markenx
  labels:
    app: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak:22.0.5
          args: ["start"]
          env:
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: keycloak-secret
                  key: KEYCLOAK_ADMIN
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-secret
                  key: KEYCLOAK_ADMIN_PASSWORD
            - name: KC_DB
              value: postgres
            - name: KC_DB_URL_HOST
              value: postgres-service
            - name: KC_DB_URL_PORT
              value: "5432"
            - name: KC_DB_URL_DATABASE
              value: keycloak
            - name: KC_DB_USERNAME
              value: keycloak
            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-secret
                  key: KEYCLOAK_DATABASE_PASSWORD
            - name: KC_HOSTNAME
              value: keycloak.local
            - name: KEYCLOAK_IMPORT
              value: /opt/keycloak/data/import/realms/realm.json
          envFrom:
            - configMapRef:
                name: keycloak-config
          ports:
            - containerPort: 8080
              name: http
            - containerPort: 8443
              name: https
          volumeMounts:
            - name: realm-config
              mountPath: /opt/keycloak/data/import/realms
              readOnly: true
            - name: scripts
              mountPath: /opt/keycloak/data/scripts
              readOnly: true
          readinessProbe:
            httpGet:
              path: /realms/master
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /realms/master
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 30
      volumes:
        - name: realm-config
          configMap:
            name: keycloak-realm-config
        - name: scripts
          configMap:
            name: keycloak-scripts
            defaultMode: 0755
