apiVersion: v1
kind: Secret
metadata:
  name: keycloak-initial-admin
  namespace: markenx
  annotations:
    argocd.argoproj.io/sync-wave: "1"
type: Opaque
stringData:
  username: admin
  password: admin
