apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: markenx
  labels:
    app: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak:22.0.5
          args:
            - start
            - --optimized
            - --import-realm
            - --health-enabled=true
            - --metrics-enabled=true
          env:
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: keycloak-secret
                  key: KEYCLOAK_ADMIN
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-secret
                  key: KEYCLOAK_ADMIN_PASSWORD
            - name: KC_DB
              value: postgres
            - name: KC_DB_URL_HOST
              value: postgres
            - name: KC_DB_URL_PORT
              value: "5432"
            - name: KC_DB_URL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_DB
            - name: KC_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: KC_HOSTNAME
              value: keycloak.local
          envFrom:
            - configMapRef:
                name: keycloak-config
          ports:
            - containerPort: 8080
              name: http
            - containerPort: 8443
              name: https
          volumeMounts:
            - name: realm-config
              mountPath: /opt/keycloak/data/import/realms
              readOnly: true
            - name: scripts
              mountPath: /opt/keycloak/data/scripts
              readOnly: true
          startupProbe:
            httpGet:
              path: /health/ready
              port: 9000
            failureThreshold: 60
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 9000
            initialDelaySeconds: 120
            periodSeconds: 10
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: /health/live
              port: 9000
            initialDelaySeconds: 120
            periodSeconds: 30
            failureThreshold: 10
      volumes:
        - name: realm-config
          configMap:
            name: keycloak-realm-config
        - name: scripts
          configMap:
            name: keycloak-scripts
            defaultMode: 0755
