apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - keycloak-configmap.yaml
  - keycloak-deployment.yaml
  - keycloak-service.yaml
  - keycloak-secret.yaml

configMapGenerator:
  - name: keycloak-scripts
    files:
      - scripts/common-logging.sh
      - scripts/00-main.sh
      - scripts/01-start-keycloak.sh
      - scripts/10-setup-realm.sh
      - scripts/20-setup-client.sh

  - name: keycloak-realm-config
    files:
      - config/realm.json

generatorOptions:
  disableNameSuffixHash: true