apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: markenx

resources:
  - crd-keycloaks.yaml
  - crd-keycloakrealmimports.yaml
  - service-account.yaml
  - cluster-role.yaml
  - cluster-role-binding.yaml
  - deployment-operator.yaml
  - keycloak-instance.yaml
  - keycloak-application.yaml
  - postgres

configMapGenerator:
  - name: keycloak-scripts
    files:
      - scripts/common-logging.sh
      - scripts/00-main.sh
      - scripts/01-start-keycloak.sh
      - scripts/10-setup-realm.sh
      - scripts/20-setup-client.sh
    options:
      disableNameSuffixHash: false

  - name: keycloak-realm-config
    files:
      - config/realm.json
    options:
      disableNameSuffixHash: true

generatorOptions:
  disableNameSuffixHash: false