apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: markenx

resources:
  - crd-keycloaks.yaml
  - crd-keycloakrealmimports.yaml
  - service-account.yaml
  - cluster-role.yaml
  - cluster-role-binding.yaml
  - deployment-operator.yaml
  # keycloak-secret.yaml is NOT included - the operator creates keycloak-initial-admin automatically
  - keycloak-instance.yaml
  - keycloak-realm-import.yaml
  - keycloak-client-secret.yaml
  - keycloak-ingress.yaml
  - postgres


