apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: markenx
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
