apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - configmap.yaml
  - secret.yaml
  - mysql-statefulset.yaml
  - mysql-service.yaml
  - api-deployment.yaml
  - api-service.yaml
  - argocd-application.yaml
